<!-- footer -->

<div class="container mb-3 p-3 contact-section">
  <div class="row">
    <!-- Contact Info Section -->
    <div class="col-sm-12 col-md-6 col-lg-4">
      <h5>Contact</h5>
      <div class="contact-info-item">
        <i class="fas fa-map-marker-alt"></i>
        <div>
          <p><i class="bi bi-geo-alt-fill"></i> 123 Bragil city,</p>
        </div>
      </div>
      <p>
        <a href="#">
          <i class="bi bi-envelope"></i> Email: ibrahimsaad2272.com</a
        >
      </p>
      <p><i class="bi bi-telephone"></i> Phone: (+20) 120-801-5634</p>
    </div>

    <!-- Contact Form Section -->
    <div class="col-sm-12 col-md-6 col-lg-8 contact-form">
      <form>
        <div class="row">
          <div class="mb-6 col-sm-12 col-md-6 col-lg-5">
            <div class="position-relative">
              <i class="fas fa-user form-control-icon"></i>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="mb-3 col-sm-12 col-md-6 col-lg-5">
            <div class="position-relative">
              <i class="fas fa-envelope form-control-icon"></i>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="email"
              />
            </div>
          </div>
        </div>
        <div class="mb-3 mt-5 form-floating">
          <textarea
            class="form-control"
            id="query"
            style="height: 140px"
            placeholder="Comment"
          ></textarea>
          <label for="query" class="form-label">Message</label>
        </div>
        <div class="mb-4 text-center">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
