<!-- Carosuel -->

<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <div class="carousel-caption d-none d-md-block">
        <h4>Cristiano Ronaldo</h4>
        <p>
          I am 38 years old, Sporting Lisbona, Portugal. I played in Sporting
          Lisbona, Manchester United, Real Madrid and Juventus. I am player in
          Al Nasr Club. I am the best soccer player in the world.
        </p>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="2000">
      <div class="carousel-caption d-none d-md-block">
        <h4>Lionel Messi</h4>
        <p>
          I am 36 years old, Argentina. I played in Barcelona, Paris-Saint
          Germain . I am player in Inter Miami. I am the g.o.a.t in the history.
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-caption d-md-block">
        <h4>Mohamed Salah</h4>
        <p>
          I am 32 years old, Egypt. I played in Mokawollon, Bazel, Chelsea,
          Fiorentina and Roma. I am player in Liverpool. I am the best player in
          Premier League.
        </p>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
