<section class="container mt-5 bg-image">
  <div class="row p-3">
    <div class="col text-center">
      <h1 class="name-title text-white">El Ghazzal</h1>
      <p class="text-white mt-3">
        If you're looking for academies to train in football (soccer) and clubs
        that advertise their programs, there are several well-known options
        worldwide. Here are a few notable ones: Football Academies FC Barcelona
        Youth Academy (La Masia) Located in Spain, this academy is famous for
        producing world-class players like Lionel Messi, Xavi, and Andrés
        Iniesta. Real Madrid Youth Academy (La Fábrica) Another top academy in
        Spain, known for developing talents such as Iker Casillas and Raúl.
        Manchester United Academy Based in England, it has a strong history of
        nurturing talent like David Beckham, Ryan Giggs, and Marcus Rashford.
      </p>
      <form class="mt-5">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Email Address" />
          <button class="btn btn-success" type="submit">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</section>
