<!-- card -->
<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h2>Pricing Plans</h2>
      <p>Choose a plan that suits your needs</p>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title bg-primary text-white p-3 m-0">Basic</h5>

          <p class="card-text">Includes basic features:</p>
          <p>Feature 1</p>
          <p>Feature 2</p>
          <p>Feature 3</p>
          <hr />
          <h6 class="card-subtitle mb-2 text-muted">$19.99 / month</h6>
          <a href="#" class="btn btn-primary mt-3">Choose Plan</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title bg-primary text-white p-3 m-0">Pro</h5>

          <p class="card-text">Includes basic features:</p>
          <p>Feature 1</p>
          <p>Feature 2</p>
          <p>Feature 3</p>
          <hr />
          <h6 class="card-subtitle mb-2 text-muted">$29.99 / month</h6>
          <a href="#" class="btn btn-primary mt-3">Choose Plan</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title bg-primary text-white p-3 m-0">Premium</h5>

          <p class="card-text">Includes basic features:</p>
          <p>Feature 1</p>
          <p>Feature 2</p>
          <p>Feature 3</p>
          <hr />
          <h6 class="card-subtitle mb-2 text-muted">$39.99 / month</h6>
          <a href="#" class="btn btn-primary mt-3">Choose Plan</a>
        </div>
      </div>
    </div>
  </div>
</div>
